<div class="container mt-5">
  <h1 class="text-center">Ask your coach!</h1>
  <form action="/answer" class="d-flex justify-content-center">

    <div class="input-group mt-3" style="width: 400px">
      <input type="text" class="form-control" placeholder="Question goes here" name="question">
      <div class="input-group-append">
        <input class="btn btn-secondary" type="submit" id="button-addon2" value="Ask it!"></input>
      </div>
    </div>
  </form>
</div>
